<%- include('includes/head.ejs') %>
</head>

<body>

    <%- include('includes/navigation.ejs') %>
    <% if(errorMessage) { %>
    <div class="user-message--error">
        <%= errorMessage %>
    </div>
    <% } %>
    <p class="sign head" align="center">Add New Conference</p>

    <div class="continer">
        <main>
            <div class="main3 media500 main-width ">

                <form class="product-form" action="/add-conference" method="POST">
                    <input required class="description" type=" text" name="name" id="name-conference"
                        placeholder="Name (e.g. 'Sample conference')">
                    <input required class="description" type=" text" name="conferenceImg" placeholder="Conference Image URL">
                    <p class="signature1" align="center">Start time</p>
                    <input required class="name" type="datetime-local" name="startTime" id="startTime">
                    <p class="signature1" align="center">End time</p>
                    <input required class="name" type="datetime-local" name="endTime" id="endTime">
                    <p class="signature1" align="center">Address</p>
                    <select class="name select-css" name="address" id="venue">
                        <% for (let venue of venues) { %>
                        <option value="<%=venue._id%>"><%= venue.adress %></option>
                        <% } %>
                    </select>
                    <textarea required class="description" name="description" id="description-conference" rows="5"
                        placeholder="Conference description"></textarea>
                    <button class="submit button btn-block" align="center" type="submit">Add conference</button>
                </form>
            </div>

        </main>


    </div>


    <%- include('includes/end.ejs') %>